.header{
    background-color: transparent;
    border-bottom: 2px solid #1C1836;
}

.inner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;

}

.burger{
    position: absolute;
    top: 30px;
    left: 36px; 
    cursor: pointer;
    /* transition: all 0.5s */
}