#root,
html{
    background-color: #0C0A18 !important;
    font-family: 'Gilroy';
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
        url("./fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
        url("./fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
        url("./fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
}


button{
    background: transparent;
    border: none;
    padding: 0;
}

.MuiAutocomplete-listbox{
    background-color: #0C0A18 !important;
    color: #cdcdcd;
}

.MuiAutocomplete-listbox > li{
    color: #E6E6E6;
}